# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
libs
private.properties
repo

# other
eclipse

src/test/resources/test-private.properties